.badge {
    padding: 6px 8px;
    margin-right: 6px;
    margin-bottom: 7px;
    font-size: 13px;
    font-weight: normal;
}

.badges {

    + .badges {
        margin-top: 12px;
    }

    label {
        margin-bottom: 3px;
    }
}