.badge {
    padding: 6px 8px;
    margin-right: 6px;
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: normal;
}

.badges {

    + .badges {
        margin-top: 12px;
    }

    label {
        display: block;
        text-transform: uppercase;
        margin-bottom: 3px;
        font-weight: bold;
        font-size: 12px;
        color: $gray-900;
    }
}