.btn {
    border-radius: 20px;
    font-weight: 600;
    border-width: 2px;
    font-size: 15px;

    &.btn-outline-dark {
        &:hover {
            color: $white;
        }
    }

}

// Btn Group
.btn-group {

    @include media-breakpoint-down(md) {
        display: block;

        .btn {
            display: block;
        }
    }

    .btn {
        border: 0 !important;
        border-radius: 4px !important;
        font-weight: normal;
        margin-right: 5px;
    }
}