input[type='text'],
input[type='email'],
input[type='search'],
input[type='password'],
input[type='number'],
input[type='tel'],
select,
textarea,
.form-control {
    @extend .form-control;
    box-shadow: 1px 2px 4px 0 rgba(34, 34, 34, 0.1) inset;
    border-radius: 20px;
    border: 1px solid #d6d3d3;
}