.navbar {
    border-bottom: 1px solid $gray-400;
    margin-bottom: 40px;

    .navbar-brand {
        font-weight: bold;
    }

    .img-thumbnail {
        border-radius: 0;
        height: 60px;
        width: 60px;
    }
}