.navbar {
    border-bottom: 1px solid $gray-400;
    margin-bottom: 40px;

    .navbar-brand {
        font-weight: bold;
    }

    .img-thumbnail {
        border-radius: 0;
        height: 40px;
        width: 40px;
        padding: 2px;
    }

    .dropdown-toggle.nav-link {
        padding-right: 0;
    }

    .nav-item .dropdown-menu {
        left: auto;
        right: 0;
        border-radius: 0;
        border-color: #ccc;

        .dropdown-item {
            font-size: 15px;
            font-weight: bold;
        }
    }
}